attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
docopt==0.6.2
Fiona==1.9.4.post1
fuzzywuzzy==0.18.0
geopandas==0.13.2
idna==3.4
Levenshtein==0.21.1
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pipreqs==0.4.13
pyproj==3.6.0
python-dateutil==2.8.2
python-Levenshtein==0.21.1
pytz==2023.3.post1
rapidfuzz==3.3.0
requests==2.31.0
scipy==1.11.2
shapely==2.0.1
six==1.16.0
tzdata==2023.3
urllib3==2.0.4
yarg==0.1.9
