fuzzywuzzy==0.18.0
geopandas==0.13.2
pandas==2.0.3
pyogrio==0.6.0
Requests==2.31.0
Shapely==2.0.1
# Pinning numpy to the most recent numpy 1 version because geopandas would set it to the newest version otherwise
# Since numpy 2.0.0 is not yet supported by geopandas see: https://stackoverflow.com/questions/78634235/numpy-dtype-size-changed-may-indicate-binary-incompatibility-expected-96-from
numpy==1.26.4
# Pinning fiona to the most recent fiona 1 version because geopandas would set it to the newest version otherwise
fiona==1.9.6